/bin/
/gen/
/.settings/
/.classpath
/.project
.idea
.gradle
*.iml
build
local.properties
db_files
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild